button {
  background : #307951;
  font-size : 1rem;
  transition: 0.1s background ease-in;
  cursor: pointer;   
  font-weight: bold;
}
button:hover{
    background: #adb5db;
    font-weight: bold;
}